@media (min-width: 320px) {
    .container {
        width: 300px;
        margin: 0 auto;
    }



}




@media (min-width: 576px) {
    .container {
        width: 540px;
        margin: 0 auto;
    }



}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .container {
        width: 720px;
        margin: 0 auto;
    }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .container {
        width: 960px;
        margin: 0 auto;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .container {
        width: 1296px;
        margin: 0;
        margin-left: 35px;
        padding: 0;
    }
    
    body {

        min-width: 1366px;
    }
    .visually-hidden {

        display: flex;
        transform: initial;
        height: initial; 
        overflow: initial;
    }

    .hidden-laptop {

        display: none;
        transform: scale(0);
        transform: scale(0);
        height: 0; 
        overflow: hidden;
    }
    .section-title {

        font-size: 30px;
        line-height: 35px;
    }

    .header {
        background: no-repeat url('../img/header-background.jpg');
        height: 668px;
        width: inherit;
        margin: 0;
        padding: 0;
        

        &__top {

            margin: 0;
            padding: 0;
            width: inherit;
            padding-top: 24px;
        }

        &__top-inner {

            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;
            width: inherit;
            height: 29px;
            
            

            .logo-link {

                font-size: 14px;
                
            }

            .nav {

                &__list {

                    list-style-type: none;
                    display: flex;
                    justify-content: space-between;
                    width: 441px;

                    &-item {

                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 13px;
                        line-height: 15px;
                        text-transform: uppercase;
                        color: #FFFFFF;
                    }

                }
            }
        }
        &__contacts {
            font-family: 'Exo 2';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14,4px;
            text-align: center;
            flex-direction: column;
            

            &-text {
                margin: 0;
                padding: 0;
            }

            .phone {
                
                font-family: 'Robotto';
                font-weight: 700;
                font-size: 15px;
                line-height: 17,58px;
                text-align: center;
                color: #FFFFFF;
                text-decoration: none;
                margin: 0;
                
                padding: 0;
            }
        }

        &__content {

            margin-bottom: 130px;
        }

        &__content-inner {
            margin: 0;
            padding: 0;

            
        }
        &-text {
            margin-left: 52px;
        }
        .article-title {
            font-size: 36px;
            line-height: 43px;
            width: 627px;
            margin-top: 128px;
        }
        .article-features {
            font-size: 18px;
            line-height: 22px;
            width: 144px;
            height: 27.5px;
            margin: 0;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        .article-text {
            font-size: 17px;
            line-height: 20px;
            width: 436px;
            
            margin: 0;
            margin-bottom: 30px;
        }
        &__button {
        width: 294px;
        height: 48px;
    }
    }

    .header-service {
        height: 668px;
        background: no-repeat url('../img/header-service-backgr.png');
        background-position: 719px center;
        color: #35346D;
    }
    .header__top-inner {
        .logo-link-service {

        color: #35346D;
        }
        
    .nav__list-item-service {
        color:  #35346D;
    }
    .phone-service {
        color: #35346D;
    }
    
    
    
    
}
#article-features-service {
        color: rgba(53, 52, 109, 0.2);
        border-bottom: 1.5px solid rgba(53, 52, 109, 0.2);
        
    }
#article-text-service {
    color: rgba(53, 52, 109, 0.45);
}

    

    .advantages {

        &__inner {

            width: 1108px;
            height: 470px;
            margin-left: 110px;
            margin-right: 78px;
            margin-bottom: 40px;
            
        }
        &__title {
            width: 299px;
        }

        &__list {
            
            flex-direction: row;
            justify-content: space-between;

            &-item {

                width: 319px;
                height: 400px;
                margin-top: 40px;
            }
        }

        &__img {

            width: 74px;
            object-fit: fill;
            margin-bottom: 21px;
            
        }
        &__inner-list {

            &-item {
                margin-top: 20px;
                font-size: 14px;
                line-height: 16,8px;
            }

        }
    }
    .list-item-title {

        font-size: 21px;
        line-height: 25px;
        margin-bottom: 0;

        &-register {

            width: 230px;
        }
    }
    .photo {

        background: no-repeat url("../img/ph-backgr-big.jpg");
        height: 434px;

        &__inner {

            width: inherit;
        }
        &__title {

            width: 798px;
        }
        &__img {

            width: 240px;
            height: 240px;
        }

        &__collection {

            width: 1080px;
            margin-left: 108px;
            margin-right: 108px;
            margin-bottom: 30px;
        }

       
    }
     .services {

            &__inner {

                height: 478px;
            }

            &__title {
                
                margin-top: 40px;
                margin-bottom: 35px;
                width: 456px;
            }

            &__list {

                flex-direction: row;
                justify-content: space-between;

                .routes-amounts {

                    background: no-repeat url('../img/18-b.png');
                    background-position: 8% 20%;
                }
                
                .bikes-amounts {

                    background: no-repeat url('../img/52-b.png');
                    background-position: 6% 20%;
                }

                .adress-amounts {

                    background: no-repeat url('../img/6-b.png');
                    background-position: 19% 22%;
                }

                &-item {
                    width: 370px;
                    height: 286px;
                    margin-top: 0;
                    

                    &-inner {

                        width: 272px;
                        justify-content: flex-end;

                        .item-title {

                            font-size: 22px;
                            line-height: 26px;
                        }

                        .list-item-text {

                            font-size: 15px;
                            line-height: 18px;
                            margin: 0;
                            margin-top: 15px;
                            margin-bottom: 12px;
                            height: 90px;
                            width: 272px;
                        }
                    }
                }
            }
            
        }
        .bikes {

            height: 762px;

            &__title {

                padding-top: 39px;
                margin-bottom: 36px;
            }

            &__button {

                display: none;
            }

            &__bike {

                height: auto;
                margin-left: 15px;

                &-inner {

                    padding-bottom: 30px;
                }
            }

            &__list-bikes {

                justify-content: space-between;
            }

            &__slider {

                display: none;
            }

            
        }

        .adresses {

            width: auto;
            height: 1053px;
            

            &__title {

                width: 446px;
                margin-top: 82px;
                margin-bottom: 44px;
            }
            &__map {
                background: no-repeat url('../img/map-big.jpg');
                
                width: 1272px;
                height: 546px;
            }
            &__list-wrapper {
                height: 264px;
                display: flex;
                flex-direction: column;
            }
            &__list {

                width: 601px;
                height: 234px;
                margin: 0;
                margin-top: 30px;
                padding: 0;
                align-self: flex-start;

                &-item {
                    margin-bottom: 20px;
                    width: 601px;

                    &-text {

                        font-size: 17px;
                        line-height: 20px;
                        width: 562px;
                    }
                }
            }
            &__view-all {

                align-self: center;
                font-size: 17px;
                line-height: 20px;
                width: 218px;

                
            }
            &__line {
                align-self: center;
                width: 227px;
                margin-left: 0;
            }
            &__wrapper {
                width: 1272px;
                height: 341px;
            }
            
        }
        .questions {

            height: 1016px;

            &__title {
                margin-top: 40px;
                margin-bottom: 10px;
            }

            &__question {

                flex-direction: row;
                width: 1004px;
                justify-content: space-between;
                padding: 0;
                margin-top: 25px;

                &-text {

                    width: auto;
                    font-size: 20px;
                    line-height: 23px;
                    margin-left: 25px;
                }
            }
            &__answer {

                width: 1001px;
                font-size: 20px;
                line-height: 24px;
            }

            &__button-answer {

                border: none;
                width: 14px;
                height: 7px;
                padding: 0;
                margin: 0;
                margin-right: 21px;
            }
            &__hide-row {
                margin-top: 0px;
            }
            &__show-row {
                margin-top: 0px;
            }
        }

        .question-adress {
            padding-top: 10px;
            height: 430px;
        }

        .sertificate {

            background: no-repeat url('../img/sertificate-back.jpg');
            
            background-position: 693.64px 0;
            height: 884px;

            &__content {

                width: 634.25px;
                height: 509px;
                margin-top: 375px;
                margin-left: 219px;
            }
            &__title {

                margin-top: 40px;
                margin-left: 37px;
            }
            &__promo-text {
                width: 320px;
                font-size: 20px;
                line-height: 24px;
                margin-left: 37px;
                margin-top: 25px;
            }
            &__promo-list {
                align-self: flex-start;
                margin-left: 37px;
                width: 540px;

                &-item {
                    width: 540px;
                    margin-top: 20px;

                    &-text {
                        width: 513px;
                        font-size: 18px;
                        line-height: 22px;

                    }
                }
            }
            &__button {
                width: 540px;
                margin-top: 35px;
                margin-bottom: 40px;

                &-text {
                    font-size: 19px;
                    line-height: 22px;
                }
            }
            
        }
        .articles {

            height: 646px;
            background: #E5E5E5;

            &__list {

                height: 562px;
                width: 1077px;
                margin-left: 110px;
                margin-right: 109px;
                justify-content: center;
                align-items: center;



                &-item {

                    display: flex;
                    margin: 0;
                    width: 309px;
                    height: 562px;

                    .article-img {
                        width: 309px;
                        height: 234px;
                    }

                    .article-title {
                        font-size: 21px;
                        line-height: 25px;
                        margin-top: 17.95px;
                        margin-bottom: 8px;
                        width: 229px;
                    }
                    .article-title-line {
                        width: 140.5px;
                    }
                    .article-text {
                        font-size: 18px;
                        line-height: 22px;
                    }
                }
            }
            &__slider {
                margin-left: 570px;
            }
        }
        .footer {

            background: no-repeat url('../img/footer-big-background.png');
            width: 1366px;
            height: 653px;

            &__title {
                width: 600px;
                margin-top: 40px;
                margin-bottom: 35px;

            }

            &__form {

                width: 487px;
                height: 214px;

                &-name {
                    width: 134px;
                    height: 35px;
                    padding: 0;
                    padding-left: 10px;
                }

                &-number {

                    width: 312px;
                    height: 35px;
                    padding: 0;
                    padding-left: 10px;
                }

                &-question {

                    width: 486px;
                    height: 104px;
                    margin-top: 20px;
                }

                &-button {

                    margin-top: 15px;
                    margin-right: 15px;;
                }

                &-chat-button {

                    margin-top: 15px;
                }
            }

            &__contacts {
                flex-direction: row;
                width: 486px;
                justify-content: space-around;
            }

            &__mail-icon {

                margin-top: 20px;
            }

            &__content-logos {

                width: 674px;
                margin-top: 17px;
                margin: 0;

            }
            

            &__bottom {

                width: 1366px;
                height: 75px;
                margin-top: -15px;

                &-logo {

                    height: 35px;
                    object-fit: fill;
                    margin-right: 98px;
                    margin-top: 22px;
                }
            }
            &__bottom-logo1 {

                margin-left: 146px;
            }
        }
        .choose-time {
            &__inner {
                margin-top: 40px;
            }
            &__buttons {
                display: flex;
                width: 487px;
                justify-content: space-between;
            }
        }
    .order {
        width: 1004px;
        height: 1054px;
        border: 3px solid #6E88E4;
        border-radius: 8px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        margin-left: 173px;
        margin-top: 25px;

        &__list-characteristics {
            align-self: flex-start;
            width: 396px;
            font-size: 15px;
            line-height: 18px;
            

            &-term {
                width: 180px;
                margin-bottom: 0;
                margin-left: 0;
                margin-right: 23px;
                
                
            }
            
            &-def {
                width: 193px;
                
            }
            
        }
        &__inner {
            width: 903px;
        }

        &__bikes-list {
            flex-direction: row;
            width: 903px;
            justify-content: space-between;

            &-item {

                &-img {
                    margin-top: 30px;
                }
            }
            
            
        }
        &__buy {
            width: 847.5px;
            margin-left: 78px;
            margin-bottom: 42px;
            margin-top: -5px;
            

            &-list-wrapper {
                width: 847.5px;
                height: 99px;
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
            }

            &-list {
                width: 283px;
                height: 36px;
                margin: 0;
                padding: 0;
                display: block;

                &-term {
                    float: left;
                    margin-right: 10px;
                }
                &-def {
                    float: left;
                }
                
                
            }
            &-btn {
                margin-right: 24px;
                
            }
        }
    }
    .reservation {

        &__inner {

        flex-direction: row;
        width: 1125px;
        height: 209px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-left: 84px;

        }
        

        &__step {
            width: 306px;
            height: 164px;
            justify-content: center;
            align-items: center;

            &-text {
                font-size: 21px;
                line-height: 25px;
                opacity: 0.7;
                
            }
        }
        &__first-step {
            background: no-repeat url('../img/1-big.png');
            margin: 0;
            margin-top: 0;
        }
        &__second-step {
            background: no-repeat url('../img/2-big.png');
            margin: 0;
            margin-right: 0;
            align-self: center;
        }
        &__third-step {
            background: no-repeat url('../img/3-big.png');
            margin: 0;
        }
    }


}