/*
Тут переменные, которые будешь использовать в проекте. Например цвета
*/

$red: #EF4352;
$descr: #8E929B;
$gray: #EDF1F7;
$color_card: #FDFDFD;
$footer_text: #4C4D4E;
$white: #FFFFFF;
$black: #000000;
$gray-background: linear-gradient(180deg, rgba(31, 71, 216, 0.05) 0%, rgba(67, 106, 241, 0.06) 100%);

$Exo2: 'Exo 2', sans-serif;
$light-blue:  rgba(31, 71, 216, 0.85);
$advantages-list-item-margin-top: 25px;
$advantages-img-m-b: 13px;
$advantages-i-l-i-m-t: 10px;
$ellipse-w: 10px;
$ellipse-h: 10px;
$ellipse-marg-right: 17px;
$list-item-text-w: 225px;
$services__button-w: 193px;
$services__button-h: 35px;
$services__list-item-m-t: 20px;
$services__list-item-inner-m-t: 35px;
$bikes__list-price-w: 245px;
$bikes__list-price-m-t: 10px;
$bikes__button-w: 245px;
$bikes__button-h: 35px;
$bikes__button-m-t: 25px;
$bikes__button-m-b: 30px;


$adresses-title-w: 216px;
$adresses__list-w: 268.5px;
$adresses__list-item-w: 268.5px;
$adresses__list-item-text-w: 233px;

