@import "vars";
@import "libs";
@import "fonts";

html {
    box-sizing: border-box;
}


/*
тут ниже пиши свои стили
*/

body {
    min-width: 320px;
    overflow-x: hidden;
    font-family: 'Exo 2', sans-serif;
    font-size: 13px;
    
}

.container {
    padding: 0 10px;
    height: inherit;
}
.header {
    & {
    background: no-repeat url('../img/bike-head.png');
    height: 421px;
    color: white;
    
    }

    &__inner {

        display: flex;
        flex-direction: column;
        height: inherit;
        margin: 0;
        padding: 0;
        justify-content: space-between;
    }

    &__top-inner {
        display: flex;
        justify-content: center;
        height: 44px;
        align-items: center;
        margin: 0;
    }

    &__content {

        margin: 0;
        padding: 0;
        width: inherit;
        margin-bottom: 33px;
        

        &-inner {

            margin: 0;
            padding: 0;
            
        }
    }

    &-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        margin: 0;
        padding: 0;
        
    }
    .logo-link {
    color: white;
    font: 300 9px normal;
    font-family: Comfortaa;
    text-decoration: none;
}
    .article-title {
    
    
    font-family: $Exo2;
    line-height: 25 px;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    text-align: left;
    margin: 0;
    margin-right: 63px;

}
    .article-features {
        font-family: $Exo2;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: rgba(255, 255, 255, 0.2);
        border-bottom: 1.5px solid rgba(255, 255, 255, 0.2);
        width: 127px;
        height: 22px;

    }
    .article-text {
        font-family: $Exo2;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        color: rgba(255, 255, 255, 0.6);
        line-height: 17px;
        width: 270px;
        height: auto;
        margin: 0;
        margin-bottom: 30px;
    }

    &__button {
        width: 300px;
        height: 46px;
    }
    
}

.header-service {

    height: 487.18px;
    background: no-repeat url('../img/bike-head-service.png');
      
}


.advantages__inner {
    display: flex;
    flex-direction: column;
    width: 230px;
    
    padding: 0;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 30px;
    align-items: center;
}
.advantages {

    &__title {
    width: 210px;
    margin-top: 30px;
    margin-bottom: 0;
    align-self: center;
    }

    &__list {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;

    }

    &__list-item {
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-top: $advantages-list-item-margin-top;
        padding: 0;
        align-items: center;
    }

    &__img {
    width: 60px;
    margin-bottom: $advantages-img-m-b;
    }
    &__inner-list {
        color: $black;
        display: flex;
        
        flex-direction: column;
        width: 207px;
        list-style-type: none;
        margin: 0;
        padding: 0;

        &-item {
            font-family: 'Exo 2', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            display: flex;
            align-items: center;
            margin: 0;
            margin-top: $advantages-i-l-i-m-t;

            &-text {
                margin: 0;
            }

        .ellipse {
            width: $ellipse-w;
            height: $ellipse-h;
            margin-right: $ellipse-marg-right;
        }   
            
        }
       
    }
    
}

.list-item-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: $light-blue;
    margin: 0;
    margin-bottom: 5px;
    
}

.photo {

    background: no-repeat url("../img/photo-background.png");
    height: 315px;

    &__inner {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
    width: 255px;
    margin-left: 22px;
    }

    &__title {

        color: $white;
        width: 255px;
    }

    &__img {
        width: 126px;
        height: 126px;
        object-fit: contain;
        
    }

    &__collection {

        display: flex;
        justify-content: space-between;
    }

    &__slider-inner {

        overflow: hidden;
    }

    &__slider {

        input {

            display: none;
        }
        #btn-1:checked ~ &-controls label[for='btn-1'] {

            background-color: #1F47D8;
        }
        #btn-2:checked ~ &-controls label[for='btn-2'] {

            background-color: #1F47D8;
        }
        #btn-3:checked ~ &-controls label[for='btn-3'] {

            background-color: #1F47D8;
        }
        #btn-1:checked ~ &-inner .photo__slider-slides {

            transform: translate(0);
        }
        #btn-2:checked ~ &-inner .photo__slider-slides {

            transform: translate(-147px);
        }
        #btn-3:checked ~ &-inner .photo__slider-slides {

            transform: translate(-294px);
        }
    }

    &__slider-slides {

        width: 300%;
    }

    &__slider-controls {

        label {
            display: inline-block;
            margin: 0 3px;
            width: 8px;
            height: 8px;
            
            border-radius: 50%;
           
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.5);
        }
    }


    &__img {

        float: left;
    }
}



.services {

    margin: 0;
    padding: 0;

    &__inner {

        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
        width: inherit;
    }

    &__title {

        margin-top: 30px;
        width: 181px;
        margin-bottom: 5px;
        padding: 0;
        
    }

    &__list {

        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin: 0;
        padding: 0;
        align-items: flex-end;
        width: inherit;

        .routes-amounts {

            background: no-repeat url('../img/18.png');
        }
        
        .bikes-amounts {

            background: no-repeat url('../img/18.png');
        }

        .adress-amounts {

            background: no-repeat url('../img/18.png');
        }

        &-item {

            display: flex;
            justify-content: flex-end;
            width: inherit;
            margin-top: $services__list-item-m-t;
            
            &-inner {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            margin-top: $services__list-item-inner-m-t;
            align-items: flex-start;
            width: $list-item-text-w;

                .list-item-text {

                    font-family: 'Exo 2', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 16px;
                    color: rgba(36, 38, 44, 0.4);
                    width: $list-item-text-w;
                    margin: 8px 0;
                    padding: 0;
                }

                .item-title {

                    font-family: 'Roboto', sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                    align-self: flex-start;
                    color: rgba(31, 71, 216, 0.85);
                    margin: 0;
                    padding: 0;

                            }


            }
        
            
        }
    }

    &__button {

        align-self: flex-start;
        width: $services__button-w;
        height: $services__button-h;
    }
}

.bikes {

    background: $gray-background;
    height: 730px;
    margin-top: 30px;

    &__title {

        padding-top: 30px;
        margin-bottom: 25px;;
    }

    &__list-bikes {

        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    &__inner {

        display: flex;
        flex-direction: column;
        border-radius: 8px;
        margin: 0;
        padding: 0;
        
    }


    &__bike-photo {
        
    border-radius: 8px 8px 0px 0px;
        
    }

    &__bike {

       display: flex;
       flex-direction: column;
       margin: 0;
       padding: 0;

            &-inner {
                background: $white;
                display: flex;
                flex-direction: column;
                align-items: center;

       }
    }

    &__bike-name {

        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        text-align: center;

        color: rgba(31, 71, 216, 0.7);
    }

    &__list-characteristics {

        width: 195px;
        overflow: hidden;
        padding: 0;
        margin: 0;
        margin-top: 15px;
        margin-bottom: 8px;

        &-term {

            width: 75%;
            overflow: hidden;
            padding: 0;
            margin: 0;
            float: left;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: rgba(0, 0, 0, 0.3);
        }
        &-def {

            width: 25%;
            overflow: hidden;
            padding: 0;
            margin: 0;
            float: left;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
            color: rgba(0, 10, 64, 0.8);

        }
    }

    &__list-price {

        width: $bikes__list-price-w;
        padding: 0;
        padding-top: 7px;
        padding-bottom: 7px;
        margin: 0;
        margin-top: $bikes__list-price-m-t;

        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #1F47D8;
        box-sizing: border-box;
        border-radius: 10px;

        &-term {

            font-family: 'Roboto',sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            color:#24262C;
            margin: 0;
            margin-right: 4px;
            padding: 0;
            max-width: 120px;
        }

        &-def {
            
            font-family: 'Roboto',sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;
            color: #748DE7;
            margin: 0;
            padding: 0;
            width: 86px;

        }
    }

    &__list-price:hover {

        background: linear-gradient(90deg, #FFE259 0%, #FFA751 100%);
        box-shadow: 0px 5px 30px rgba(138, 117, 36, 0.25);;
    }

    &__button {

        width: $bikes__button-w;
        height: $bikes__button-h;
        margin-top: $bikes__button-m-t;
        margin-bottom: $bikes__button-m-b;
    }

    &__slider {

        display: flex;
        align-self: center;
        margin-left: 80px;
        margin-top: 20px;
    }
}

.adresses {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: auto;
    


    &__title {
        width: $adresses-title-w;
        margin-top: 30px;
        margin-bottom: 0px;
        padding: 0;

    }

    &__map {

        display: flex;
        background: no-repeat url('../img/map-sm.png');
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
        height: 221px;
        width: 320px;
    }

    &__wrapper {

        display: flex;
        flex-wrap: wrap;
        
        justify-content: space-between;
        
    }

    &__list {

        display: flex;
        flex-direction: column;
        width: $adresses__list-w;
        margin: 0;
        padding: 0;
        margin-right: 21px;
        margin-left: 30.44px;
        
        

        &-item {

            display: flex;
            align-items: center;
            justify-content: space-between;
            width: $adresses__list-item-w;
            padding: 0;
            margin: 0;
            
            margin-right: 21px;
            margin-bottom: 10px;

            &-text {

                width: $adresses__list-item-text-w;
                font-family: 'Roboto',sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 15px;
                color:rgba(31, 71, 216, 0.7);
                padding: 0;
                margin: 0;
                

            }
        }
        &-item:last-child {
            opacity: 0.3;
        }

    }
   

    &-symbol {

        
        height: 22px;
        width: 15,3px;
        padding: 0;
        margin: 0;
    }

    &__view-all {

        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 203px;
        border: none;
        padding: 0;
        margin: 0;
        margin-right: 57px;
        margin-left: 60px;
        margin-top: 5px;
        background: transparent;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: rgba(31, 71, 216, 0.6);
        
    }

    &__line {

        border-bottom: 2px solid rgba(31, 71, 216, 0.1);
        align-self: flex-start;
        width: 128px;
        margin-left: 71px;
        margin-top: 5px;
        margin-bottom: 0;;
    }

    &__map-legend-list {

        list-style-type: none;
        display: flex;
        flex-direction: column;
        width: 191px;
        height: 55px;
        margin: 0;
        padding: 0;

        &-item {
            display: flex;
            align-items: center;
            width: 191px;
            margin: 0;
            padding: 0;

            .legend-line {

                width: 25px;
                height: 0;
                border-bottom: 5px solid #41CC33;;
            }
            .legend-line-1 {
                border-bottom: 5px solid #FF0000;
            }
            .legend-line-3 {
                border-bottom: 5px solid #FFA751;
            }
            .legend-text {
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 13px;
                line-height: 15px;
                margin-left: 17px;
                color: rgba(36, 38, 44, 0.77);
                opacity: 0.7;
            }
        }
        
    }
}

.questions {

    background: linear-gradient(180deg, rgba(31, 71, 216, 0.05) 0%, rgba(67, 106, 241, 0.06) 100%);
    
    height: 1444px;
    margin-bottom: 0;

    &__title {

        margin-top: 30px;
        margin-bottom: 5px;
        
        padding: 0;
    }

    &__inner {

        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    &__question {

        display: flex;
        flex-direction: column;
        border:  3px solid rgba(31, 71, 216, 0.7);
        border-radius: 10px;
        width: 300px;
        box-sizing: border-box;
        margin-top: 20px;
        align-items: center;
        padding-bottom: 16px;

        &-active {
            padding-bottom: 0px;
        }

        &-text {

            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
            color: rgba(110, 136, 228, 0.5);
            width: 251px;
            
            &-active {

                color: rgba(110, 136, 228, 0.8);
            }

        }
    }
    &__answer {

        font-family: 'Exo 2', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: rgba(36, 38, 44, 0.3);
    }
}
.question-adress {
    background: white;
    height: 637px;
    padding-top: 57px;
}

.sertificate {

    padding: 0;
    margin: 0;
    background: #E5E5E5;
    padding-bottom: 60px;

    &__wrapper {

        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    

    &__img {

        margin: 0;
        padding: 0;
        margin-left: -10px;
        
    }

    &__title {

        
        margin: 0;
        padding: 0;
        align-self: flex-start;
        margin-left: 15px;
        margin-top: 15px;

    }

    &__content {
        
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, rgba(31, 71, 216, 0.05) 0%, rgba(67, 106, 241, 0.06) 100%);
    border-radius: 10px;
    height: 382px;
    width: 300px;
    margin: 0;
    padding: 0;
    
    }

    &__promo-text {

        align-self: flex-start;
        margin-left: 15px;
        margin-top: 10px;
        margin-bottom: 5px;
        width: 228px;
        font-family: 'Exo 2', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: rgba(36, 38, 44, 0.3);
    }

    &__promo-list {

        list-style-type: none;
        display: flex;
        flex-direction: column;
        width: 269px;
        margin: 0;
        padding: 0;

        &-item {

            display: flex;
            align-items: center;
            padding: 0;
            margin: 0;
            margin-top: 10px;
            width: 269px;

            &-text {

                width: 242px;
                margin: 0;
                padding: 0;
                margin-left: 17px;
                font-family: 'Exo 2', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 16px;
                color: #000000;

            }

        }
    }

    &__button {

        width: 264px;
        height: 60px;
        padding: 13px 43px;
        margin: 0;
        margin-top: 20px;
        margin-bottom: 15px;

        &-text {

            font-family: 'Roboto',sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            color: #3D3A3A;
        }
    }
}

.articles {

    background: #E5E5E5;
    margin: 0;
    padding: 0;
    height: 487px;

    &__list {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style-type: none;
        margin: 0;
        padding: 0;
        
        height: 423px;

        .article3 {
                margin-right: 75px;
                margin-left: 75px;
            }
        

        &-item {

            display: flex;
            flex-direction: column;
            align-items: center;
            background: #FFFFFF;
            box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.09);
            border-radius: 8px;
            

            
            

            .article-img {

                margin: 0;
                padding: 0;
                width: 300px;
                height: 222.94px;
                object-fit: contain;
            }

            .article-title {

                    font-family: 'Roboto', sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 16px;
                    text-align: center;
                    color: rgba(31, 71, 216, 0.7);
                    margin: 0;
                    padding: 0;
                    margin-top: 13px;
                    margin-bottom: 10px;
            }

            .article-text {

                font-family: 'Exo 2', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 16px;
                color: rgba(36, 38, 44, 0.3);
                width: 279px;
                margin: 0;
                padding: 0;
                margin-top: 15px;
            }
        }
    }
    &__button {

        border: none;
        background: transparent;
        display: flex;
        align-items: flex-end;
        height: 15px;
        margin: 0;
        padding: 0;
        margin-top: 25px;
        

        &-text {
            margin: 0;
            padding: 0;
            width: 157px;
            height: 15px;
            font-family: 'Exo 2', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            display: flex;
            color: rgba(31, 71, 216, 0.4);
            
        }

        &-img {

            margin: 0;
            padding: 0;
            width: 30px;
            height: 11px;
            object-fit: contain;
            margin-bottom: -4px;         
        }
    }

    &__slider {

        margin-left: 75px;
        margin-top: 20px;
    }
}

.footer {

    background: url('../img/footer-background.png');
    height: 808px;
    margin: 0;
    padding: 0;

    &__content {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    
    &__title {
        color:#FFFFFF;
        width: 249px;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    &__form {

        display: flex;
        width: 300px;
        height: 234px;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        padding: 0;

        &-name {

            width: 95px;
            height: 25px;
            margin: 0;
            padding: 0;
            padding-left: 12px;
            margin-right: 15px;
            background: #FFFFFF;
            border-radius: 8px;
            border: 0px;
            box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.37);

        }

        &-number {

            width: 166px;
            height: 25px;
            margin: 0;
            padding: 0;
            padding-left: 12px;
            background: #FFFFFF;
            box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.37);
            border-radius: 8px;
            border: 0px;
        }

        &-question {

            width: 300px;
            height: 75px;
            border: 0px;
            background: #FFFFFF;
            box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.37);
            border-radius: 8px;
            resize: none;
            margin: 0;
            margin-top: 14px;
            padding: 0;
            
        }

        &-button {

            width: 236px;
            height: 40px;
            margin: 0;
            padding: 0;
            margin-top: 20px;
        }

        &-chat-button {

        width: 236px;
        height: 40px;
        background: transparent;
        border: 1px solid #FFB453;
        box-sizing: border-box;
        border-radius: 8px;
        margin: 0;
        margin-top: 20px;
        padding: 0;

        &-text {

            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 15px;
            text-align: center;
            color: #FFB253;
        }
    }
    }

    &__contacts {

        display: flex;
        flex-direction: column;

        &-phone {

            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-mail {

            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__phone-icon {

        margin-top: 20px;
        margin-bottom: 5px;
    }

    &__mail-icon {

        width: 36px;
        height: 36px;
        margin-top: 15px;
        margin-bottom: 8px;
    }

    &__phone-number {

        text-decoration: none;
        font-family: 'Roboto Mono', monospace;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        color: rgba(255, 167, 81, 0.85);
    }

    &__mail-adress {

        margin-bottom: 25px;
        text-decoration: none;
        font-family: 'Roboto Mono', monospace;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        color: rgba(255, 167, 81, 0.85);
    }

    &__content-logos {

        display: flex;
        flex-wrap: wrap;
        width: 300px;
        height: 128px;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    &__content-logo {

        background: url('../img/cfmoto.png');
        width: 85.56px;
        height: 59px;
        margin-bottom: 10px;
    }

    &__bottom {

        background: rgba(0, 0, 0, 0.57);
        width: 320px;
        height: 114px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &-logo {

            height: 41px;
            object-fit: none;
        }
    }
}
.choose-time {
        &__inner {
                width: inherit;
                display: flex;
                flex-direction: column;
                align-items: center;
                
        
                }
        &__title {
            color: rgba(31, 71, 216, 0.85);
            margin-bottom: 25px;
            
        }

        &__buttons {

            width: 240px;

            .time-button {

                width: 236px;
                height: 40px;
                border-color:#C9D3F6;
                border-style: none;
                border: 1px solid #C9D3F6;
                border-radius: 8px;
                background: inherit;
                filter: drop-shadow(0px 5px 30px rgba(138, 117, 36, 0.25));
                color:#C9D3F6;
                margin-bottom: 15px;

                &_active {
                    color: #FFFFFF;
                    background: rgba(110, 136, 228, 0.8);
                }
                
            }
        }
}
.order {

    margin: 0;
    padding: 0;
    width: inherit;

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
        width: inherit;
    }
    &__title {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: #7A92E8;
        margin: 0;
        margin-top: 30px;
    }
    &__list-characteristics {
        width: 286px;
        margin: 0;
        padding: 0;
        margin-top: 25px;
        font-family: Roboto;
            font-style: normal;
            
            font-size: 12px;
            line-height: 14px;
            box-sizing: border-box;
            

        &-term {
            width: 149px;
            overflow: hidden;
            margin: 0;
            padding: 0;
            float: left;
            font-weight: normal;
            margin-bottom: 18px;
            margin-right: 15px;
            margin-left: 8px;
            box-sizing: border-box;
            color: #000000;
              
        }
        &-def {
            width: 114px;
            float: left;
            font-weight: bold;
           color: #000A40;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
    }
    &__bikes-list {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        width: inherit;
        margin: 0;
        padding: 0;
        align-items: center;

        
        &-item {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 208px;
            

            &-img {
                margin: 0;
                padding: 0;
                margin-top: 33px;
            }
            &-title {
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 19px;
                text-align: center;
                color: #1F47D8;
                width: 208px;
                margin: 0;
                margin-top: 18.54px;
                margin-bottom: 10px;
            }

            &-number {
                width: 31px;
                height: 31px;
                
            }

            .order-bike-line {
                border-bottom: 2px solid #1F47D8;
                width: 146.14px;
                margin: 0;
            }
            &-price {
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 19px;
                text-align: center;
                color: #41CC33;
                margin: 0;
                margin-top: 15px;
                margin-bottom: 11px;
            }
        }
    }
    &__bikes-slider {
        margin-top: 30px;
    }

    &__buy {
        display: flex;
        flex-wrap: wrap;
        width: inherit;
        margin: 0;
        padding: 0;
        margin-top: 60px;

        &-title {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
            color: #1F47D8;
        }

        &-title_active {
            
            width: 148px;
            height: 42px;
            background: #F4F6FD;
            border-radius: 20px 20px 0 0;
            margin: 0;
            
        }
        &-title_active_no {
            width: 172px;
            height: 42px;
            margin: 0;
        }
        &-list {
            width: 320px;
            height: 57px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0;
            padding: 0;
            margin-top: 14px;
            
            

            &-term {
                width: 138px;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #000000;
                margin: 0;
                padding: 0;
                margin-left: 21px;
                
                
               
                

            }
            &-def {
                width: 82px;
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                color: #000A40;
                margin: 0;
                padding: 0;
                margin-right: 23px;
                text-align: right;
                
                
            }
        }
        &-btn {
            width: 245px;
            height: 35px;
            margin-left: 38px;
        }

    }
    &__buy-list-wrapper {
        height: 122px;
        background:#F4F6FD;
        margin: 0;
        padding: 0;
    }
}

.reservation {

    &__inner {

        display: flex;
        flex-direction: column;
    }

    &__step {
        width: 163px;
        height: 88px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-bottom: 20px;

        &-text {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: rgba(31, 71, 216, 0.85);
        }
    }
    &__first-step {
        background: no-repeat url('../img/1-sm.png');
        margin-top: 25px;
    }
    &__second-step {
        background: no-repeat url('../img/2-sm.png');
        align-self: flex-end;
        background-position: right;
        margin-right: 10px;
    }
    &__third-step {
        background: no-repeat url('../img/3-sm.png');
        margin-left: 33px;
    }
}
 




@import "media";

/*
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;
*/